<!DOCTYPE html>
    <html>
      <head>
          <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
          <link rel="stylesheet" type="text/css" href="./css/style.css">
      </head>
      <body>
          <h1>Upload file</h1>
          <form action="/upload" enctype="multipart/form-data" method="post">
              <label>File's tittle</label>
              <input type="text" name="tittle">
              <br>
              <label>File</label>
              <input type="file" name="upload" multiple="multiple"><br>
              <input type="submit" value="Send">
          </form>
      </body>
    </html>
